{% extends "bloodcare/base.html" %}
{% load static %}
{% block content %}


    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>Bringing the future
                                of healthcare</h1>
                            <!-- <p>Deep created replenish herb without night fruit day earth evening Called his
                                green were they're fruitful to over Sea bearing sixth Earth face. Them lesser
                                great you'll second </p> -->
                            <a href="{% url 'user_register' %}" class="btn_2">User Register</a>
                            <a href="{% url 'hospital_register' %}" class="btn_2">Hospital Register</a>
                            <a href="{% url 'bank_register' %}" class="btn_2">Blood Bank Register</a>
                            <div class="banner_item">
                                <div class="single_item">
                                    <img src="{% static 'bloodcare/img/icon/banner_1.svg' %}" alt="">
                                    <h5>Emergency Cases</h5>
                                </div>
                                <div class="single_item">
                                    <img src="{% static 'bloodcare/img/icon/banner_2.svg' %}" alt="">
                                    <h5>Easy Appointment</h5>
                                </div>
                                <div class="single_item">
                                    <img src="{% static 'bloodcare/img/icon/banner_3.svg' %}" alt="">
                                    <h5>Qualfied Doctores</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->
    
    <!-- feature_part start-->
    <section class="feature_part padding_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4 align-self-center">
                    <div class="single_feature_text ">
                        <h2>Provide Special
                            Services</h2>
                        <p>Third beast two she'd multiply they're form he above do Replenish days said
                            set doesn't can't subdue air herb lesser dominion saying fruitful given
                            fifth winged Third beast two she'd multiply they're form he above their
                            Replenish days said set doesn can'which.</p>
                        <a href="#" class="btn_2">More service</a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="feature_item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_feature">
                                    <div class="single_feature_part">
                                        <span class="single_feature_icon"><img src="{% static 'bloodcare/img/icon/feature_1.svg' %}" alt=""></span>
                                        <h4>Better Future</h4>
                                        <p>Darkness multiply rule Which from without life creature blessed
                                            give moveth moveth seas make day which divided our have.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_feature">
                                    <div class="single_feature_part">
                                        <span class="single_feature_icon"><img src="{% static 'bloodcare/img/icon/feature_2.svg' %}" alt=""></span>
                                        <h4>Better Future</h4>
                                        <p>Darkness multiply rule Which from without life creature blessed
                                            give moveth moveth seas make day which divided our have.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_feature">
                                    <div class="single_feature_part">
                                        <span class="single_feature_icon"><img src="{% static 'bloodcare/img/icon/feature_2.svg' %}" alt=""></span>
                                        <h4>Better Future</h4>
                                        <p>Darkness multiply rule Which from without life creature blessed
                                            give moveth moveth seas make day which divided our have.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_feature">
                                    <div class="single_feature_part">
                                        <span class="single_feature_icon"><img src="{% static 'bloodcare/img/icon/feature_1.svg' %}" alt=""></span>
                                        <h4>Better Future</h4>
                                        <p>Darkness multiply rule Which from without life creature blessed
                                            give moveth moveth seas make day which divided our have.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature_part start-->
    
    <!-- our_ability part start-->
    <section class="our_ability section_padding">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="our_ability_img">
                        <img src="{% static 'bloodcare/img/ability_img.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="our_ability_member_text">
                        <h2>Our Patients
                            Are at the Centre of
                            Everything We Do</h2>
                        <p>Kind lesser bring said midst they're created signs made the beginni years
                            created Beast upon whales herb seas evening she'd day green dominion
                            evening in moved have fifth in won't in darkness fruitful god behold
                            whos without bring created creature.</p>
                        <ul>
                            <li><span class="ti-mouse"></span>Modern Technology</li>
                            <li><span class="ti-heart-broken"></span>Worldclass Facilities</li>
                            <li><span class="ti-package"></span>Experienced Nurse</li>
                            <li><span class="ti-headphone-alt"></span>24 Hours Support</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our_ability part end-->


















{% endblock content %}