{% extends "bloodcare/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class='container' style='min-height:100px;'></div>

<div class="container" style="height:100vh;">
    <div class='row align-items-center justify-content-center' style="height:75vh;">
        <div class='mt-5 col-sm-11 col-md-6 col-lg-6 col-xl-6'>
            <h2>You have been logged out</h2>
            <div class="border-top pt-3">
                <small class="text-muted">
                    <a href="{% url 'login' %}">Log In Again</a>
                </small>
            </div>
        </div>
    </div>
</div>

{% endblock content %}